# Version control
# .git/
# .gitignore
# .gitattributes
# .git-blame-ignore-revs
# .gitconfig

# Build artifacts
bin/
dist/
**/dist/
out/
**/out/

# Dependencies
node_modules/
**/node_modules/

# Test and development files
coverage/
**/.vscode-test/

# Configuration files
# .env*
knip.json
.husky/

# CI/CD
# .changeset/
# .github/
# ellipsis.yaml

# OS specific
.DS_Store

# Logs
logs/
*.log

# Nix
# flake.lock
# flake.nix

# Monorepo
benchmark/exercises/
