[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{mts,ts,tsx}]
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 4

[{package,package-lock}.json]
indent_style = space
indent_size = 2
