/* Import external CSS files */
@import url("../../node_modules/@vscode/codicons/dist/codicon.css");
@import url("../node_modules/@fontsource/azeret-mono/index.css");

@import "tailwindcss";
@import "./theme.css";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		@apply border-border outline-ring/50 text-base;
	}
	body {
		@apply bg-background text-foreground;
	}
	p {
		@apply my-0 text-base leading-5 block line-clamp-3;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		unicode-bidi: isolate;
	}
	h1 {
		font-size: var(--text-lg);
		font-weight: var(--font-weight-semibold);
	}
	h2 {
		font-size: var(--text-md);
		font-weight: var(--font-weight-semibold);
	}
	h3 {
		font-size: var(--text-sm);
		font-weight: var(--font-weight-semibold);
	}
	a {
		@apply text-link hover:text-link-hover;
	}
	ol {
		@apply list-decimal pl-6;
	}
	ul {
		@apply list-disc pl-6;
	}
	[role="radio"] {
		margin: calc(var(--design-unit) * 1px) 0;
	}
}
