@import "tailwindcss";
@import "tw-animate-css";
/* Import external CSS files */
@import url("../../node_modules/@vscode/codicons/dist/codicon.css");
@import url("../node_modules/@fontsource/azeret-mono/index.css");

@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

/* Editor theme mapping */
@theme {
	--color-background: var(--vscode-editor-background);
	--color-border: var(--vscode-focusBorder);
	--color-border-panel: var(--vscode-panel-border);
	--color-foreground: var(--vscode-foreground);
	--color-shadow: var(--vscode-widget-shadow);
	--color-code: var(--vscode-editor-background);
	--color-code-foreground: var(--vscode-editor-foreground);
	--color-code-border: var(--vscode-editor-border);
	--color-sidebar-background: var(--vscode-sideBar-background);
	--color-sidebar-foreground: var(--vscode-sideBar-foreground);
	--color-input-foreground: var(--vscode-input-foreground);
	--color-input-background: var(--vscode-input-background);
	--color-input-border: var(--vscode-input-border);
	--color-input-placeholder: var(--vscode-input-placeholderForeground);
	--color-selection: var(--vscode-list-activeSelectionBackground);
	--color-selection-foreground: var(--vscode-list-activeSelectionForeground);
	--color-button-background: var(--vscode-button-background);
	--color-button-hover: var(--vscode-button-hoverBackground);
	--color-button-foreground: var(--vscode-button-foreground);
	--color-button-separator: var(--vscode-button-separator);
	--color-button-secondary-background: var(--vscode-button-secondaryBackground);
	--color-button-secondary-background-hover: var(--vscode-button-secondaryHoverBackground);
	--color-button-secondary-foreground: var(--vscode-button-secondaryForeground);
	--color-muted: var(--vscode-editor-foldBackground);
	--color-muted-foreground: var(--vscode-editor-foldPlaceholderForeground);
	--color-menu: var(--vscode-menu-background);
	--color-menu-foreground: var(--vscode-menu-foreground);
	--color-menu-border: var(--vscode-menu-border);
	--color-menu-shadow: var(--vscode-menu-shadow);
	--color-link: var(--vscode-textLink-foreground);
	--color-link-hover: var(--vscode-textLink-activeForeground);
	--color-list-hover: var(--vscode-list-hoverBackground);
	--color-badge-foreground: var(--vscode-badge-foreground);
	--color-badge-background: var(--vscode-badge-background);
	--color-banner-background: var(--vscode-banner-background);
	--color-banner-foreground: var(--vscode-banner-foreground);
	--color-banner-icon: var(--vscode-banner-iconForeground);
	--color-toolbar-default: var(--vscode-toolbar-background);
	--color-toolbar-hover: var(--vscode-toolbar-hoverBackground);
	--color-error: var(--vscode-errorForeground);
	--color-description: var(--vscode-descriptionForeground);
	--color-success: var(--vscode-charts-green);
	--color-warning: var(--vscode-charts-yellow);
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--font-azeret-mono: Azeret Mono, monospace;
	--text-xl: calc(2 * var(--vscode-font-size));
	--text-lg: calc(1.5 * var(--vscode-font-size));
	--text-md: calc(1.25 * var(--vscode-font-size));
	--text-sm: var(--vscode-font-size);
	--text-xs: calc(0.75 * var(--vscode-font-size));
	--text-xxs: calc(0.5 * var(--vscode-font-size));
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
