.task-header-container {
	background-color: color-mix(in srgb, var(--vscode-toolbar-hoverBackground) 65%, transparent);

	:hover {
		background-color: color-mix(in srgb, var(--vscode-toolbar-hoverBackground) 100%, transparent);
	}
}

.task-header-content {
	display: "-webkit-box";
	/* WebkitBoxOrient: "vertical"; */
	line-height: "1.2";
}

.task-header-text-expanded {
	/* WebkitLineClamp: "unset"; */
}

.task-header-text-collapsed {
	/* WebkitLineClamp: 2; */
	max-height: "2.4em";
}
