#!/usr/bin/env bash

for i in {1..100}; do
  echo "$i"
done

sleep 3

cat <<EOF
{
  "cancel": false,
  "contextModification": "WORKSPACE_RULES: This is from the local bar/ workspace.",
  "errorMessage": "TaskResume hook custom errorMessage: foo"
}
EOF